[phases.setup]
nixPkgs = ["dotnet-sdk", "libopus", "libsodium", "ffmpeg"]

[phases.build]
cmds = [
    "dotnet publish -c Release -o out",
    "cp $(find /nix/store -name 'libopus.so*' | head -n 1) ./out/opus.so || true",
    "cp $(find /nix/store -name 'libopus.so*' | head -n 1) ./out/libopus.so || true",
    "cp $(find /nix/store -name 'libsodium.so*' | head -n 1) ./out/sodium.so || true",
    "cp $(find /nix/store -name 'libsodium.so*' | head -n 1) ./out/libsodium.so || true"
]

[start]
cmd = "./out/DiscordMusicBot"