[phases.setup]
nixPkgs = ["dotnet-sdk", "ffmpeg", "libopus", "libsodium"]

[phases.build]
cmds = [
    "dotnet publish -c Release -o out",
    "cp $(find /nix/store -name 'libopus.so*' | head -n 1) ./out/opus.so",
    "cp $(find /nix/store -name 'libsodium.so*' | head -n 1) ./out/sodium.so",
    "cp ./out/opus.so ./out/libopus.so",
    "cp ./out/sodium.so ./out/libsodium.so"
]

[start]
cmd = "./out/DiscordMusicBot"