[phases.setup]
nixPkgs = ["dotnet-sdk", "ffmpeg"]
aptPkgs = ["libopus0", "libsodium23", "libopus-dev", "libsodium-dev"]

[phases.build]
cmds = ["dotnet publish -c Release -o out"]

[start]
cmd = "./out/DiscordMusicBot"